* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/* main */

