/* bout-me */
@media (max-width: 768px) {
  .about-left {
    width: 100%;
    margin-bottom: 30px;
  }
  .about-right {
    margin-left: 0;
    padding-right: 0;
  }
  .img-about {
    width: 80%;
  }
  .content-main {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .list-img-about {
    flex-wrap: wrap;
    justify-content: center;
  }
}
