@media (min-width: 1170.02px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main-home-page{
        gap: 12px;
    }
}
@media (max-width: 1170px){
  body{
    padding-top: 30px;
  }
  
    .top-header ul{
        gap: 10px;
    }
    .top-header ul li a{
        font-size: 1.4rem;
    }
   .main-home-page{
    margin-top: 80px;
   }
}
@media (max-width: 768px) and (min-width: 1024px){
    .top-header ul{
        gap: 5px;
    }
    .top-header ul li a{
        font-size: 1.2rem;
    }
    .main-home-page{
        margin-top: 50px;
    }
}