/* home page */
@media (max-width : 1024px) {
    .banner .slice{
        width: 100px;
        height: 125px;
    }
    .banner .slice .item{
        transform: translateZ(350px);
    }
}
@media (max-width : 768px) {
    
}
@media (max-width : 480px) {
    
}
