/* home page */
@media (max-width : 1024px) {
    .banner .slice{
        margin-top: 30px;
        width: 100px;
        height: 125px;
    }
    .banner .slice .item{
        transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) *1deg))
        translateZ(350px);
    }
    .card-mobile{
        display: none;
    }
}
@media (max-width : 768px) {
    .banner .slice .item{
        transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) *1deg))
        translateZ(250px);
    }
    .card-mobile{
        display: none;
    }
}
@media (max-width : 480px) {
    .banner .slice{
        display: none;
    }
    .banner .content{
        text-align: left;
        bottom: 10px;
        left: 40px;
    }
    .card-mobile{
        display: block;
        margin-top: 80px;
        text-align: cen;
    }
    .avt-mobile{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    .card-mobile .name-avt{
        font-size: 2rem;
    }
}


