@media (min-width: 1170.02px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top-header{
        position: absolute;
        top: 20px;
        width: 1170px;
    }
}
@media (max-width: 1170px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .top-header ul{
        gap: 10px;
    }
    .top-header ul li a{
        font-size: 1.4rem;
    }
   .main-home-page{
    margin-top: 100px;
   }
}