@media (min-width: 1170.02px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-home-page {
    gap: 12px;
  }
}
@media (max-width: 1170px) {
  body {
    padding-top: 30px;
  }

  .top-header ul {
    gap: 10px;
  }
  .top-header ul li a {
    font-size: 1.4rem;
  }
  .main-home-page {
    margin-top: 80px;
  }
}
@media (max-width: 768px) and (min-width: 1024px) {
  .top-header ul {
    gap: 5px;
  }
  .top-header ul li a {
    font-size: 1.2rem;
  }
  .main-home-page {
    margin-top: 50px;
  }
}
@media (max-width: 480px) {
  body {
    background: url("../asset/image/banner-main.png");
    padding: 0;
  }
  .top-header {
    justify-content: space-between;
    padding-top: 12px;
  }
  .menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 100vh;
    transform: translateX(100%);
    background-color: #e4dada;
    transition: transform 0.3s ease-in-out;
    z-index: 999;
  }
  .menu.active{
    display: block;
    transform: translateX(0);
  }
  .top-header ul{
    margin-top: 30px;
    flex-direction: column;
    gap: 20px;
  }
  .main-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .pic-home-mini {
    display: none;
  }
  .main-home-page .pic-home-page {
    display: none;
  }
  .menu-bar {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
  }
}
