/* home page */
@media (max-width : 1024px) {
    .banner .slice{
        margin-top: 30px;
        width: 100px;
        height: 125px;
    }
    .banner .slice .item{
        transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) *1deg))
        translateZ(350px);
    }
}
@media (max-width : 768px) {
    
}
@media (max-width : 480px) {
    
}
