* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #e4e4e4;
  color: #000000;
}
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

.top-header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header .logo {
  width: 200px;
  height: 50px;
}
.top-header .logo img {
  width: 100%;
  height: 100%;
}
.top-header .logo img:hover {
  cursor: pointer;
}
.top-header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.top-header ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 1.6rem;
  font-weight: 500;
}
.top-header ul li a:hover {
  color: #f00;
}

.main-home-page{
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.main-home-page .item{
  width: 32%;
}
.main-home-page .item img{
  width: 100%;
  height: auto;
}

