* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header .logo{
  w
} 